<html   xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">


<div class="d-flex justify-content-end my-2">
    </div>
    <h4 class="py-2" th:text="${product.subject}"></h4>
    <div class="card my-3">
        <div class="card-body">
            <div class="badge bg-light text-dark p-2 text-start">
                <span class="h6" th:text="|작성자 : ${product.memberId}|"></span>
            </div>
            <div style="white-space:pre-wrap;" class="card-text my-4" th:text="${product.price}" rows="35"></div>
            <span class="d-flex justify-content-end my-2">
            </span>
        </div>
    </div>


</div>

</html>