<html xmlns:th="http://www.thymeleaf.org">

    <script>
        function passwordCheck(form) {

            form.new_password.value = form.new_password.value.trim();
            form.new_password2.value = form.new_password2.value.trim();

            if ( form.new_password.value != form.new_password2.value ) {
                alert("입력하신 새로운 비밀번호와 일치하게 입력해주세요.");
                form.new_password.focus();
                return;
            }

            form.submit();
        }
    </script>

<div class="my-3 border-bottom">
    <div>
        <h4>비밀번호 정보 수정</h4>
    </div>
</div>
<form th:action="@{/member/modifyPassword}"  method="post" onsubmit="passwordCheck(this); return false;">
    <div class="mb-3">
        <label class="form-label">현재 비밀번호</label>
        <input type="password" name="old_password" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">새 비밀번호</label>
        <input type="password" name="new_password" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">새 비밀번호 확인</label>
        <input type="password" name="new_password2" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">수정완료</button>
</form>
</div>
</html>