<html   xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">


<div>
    <h4> 게시글 작성 </h4>
</div>


<form th:action="@{|/post/${id}/modify|}"  method="post">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text"name="title"  th:value="${post.title}" class="form-control" >
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <input type="text" name="content" th:value="${post.content}" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">수정</button>
</form>
</div>
</html>