<!DOCTYPE html>

<head>
    <title>글 상세페이지</title>
</head>

<body>
    <div class="container">
        <h1>글 상세페이지</h1>
        <div>
            글 번호 : [[${post.postId}]]
        </div>
        <div>
            작성 : [[${post.createdAt}]]
        </div>

        <div>
            수정 : [[${post.updatedAt}]]
        </div>

        <div>
            작성자 : [[${post.username}]]
        </div>

        <div>
            제목 : [[${post.title}]]
        </div>

        <div>
            내용 : [[${post.content}]]
        </div>

        <div>
            해시태그 : [[${post.keyword}]]
        </div>


    </div>
</section>
</body>
</html>