<html xmlns:th="http://www.thymeleaf.org">


<div class="my-3 border-bottom">
    <div>
        <h4> 게시글 작성 </h4>
    </div>
</div>
<form th:action="@{/post/write}"  method="post">

    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text"name="title" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <input type="text" name="content" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">키워드 </label>
        <input type="text" name="keyword" class="form-control" placeholder="#키워드1 #키워드2">
    </div>
    <button type="submit" class="btn btn-primary">작성</button>
</form>
</div>
</html>